@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

::-webkit-scrollbar {
    width: 5px;
}
  

::-webkit-scrollbar-track {
    background: #222629; 
}
   

::-webkit-scrollbar-thumb {
    background: #636d74; 
}
  

::-webkit-scrollbar-thumb:hover {
    background: #e27689;
}

#top header div::before {
    content: '<h4>';
    font-family: 'La Belle Aurore',cursive;
    color: #755565;
    font-size: 18px;
    position: absolute;
    margin-top: -1rem;
    margin-left: -1rem;
}

#top header div::after {
    content: '</h4>';
    font-family: 'La Belle Aurore',cursive;
    color: #755565;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -0.5rem;
}

#top #info::before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #755565;
    font-size: 18px;
    position: absolute;
    margin-top: -1.5rem;
    margin-left: -1rem;
}

#top #info::after {
    content: '</p>';
    font-family: 'La Belle Aurore',cursive;
    color: #755565;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -4.5rem;
}

#top #info p{
    margin-top: 2em;
    margin-bottom: 3em;
}

#top #footerDiv::before {
    content: '<button>';
    font-family: 'La Belle Aurore',cursive;
    color: #755565;
    font-size: 18px;
    position: absolute;
    margin-top: -2.3rem;
    margin-left: -1rem;
}

#top #footerDiv::after {
    content: '</button>';
    font-family: 'La Belle Aurore',cursive;
    color: #755565;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: 0rem;
}

#skills header div::after {
    content: '</h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -0.5rem;
}

#skills header div::before {
    content: '<h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -1rem;
    margin-left: -1rem;
}

#skills #info::before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -1.5rem;
    margin-left: -1rem;
}

#skills #info::after {
    content: '</p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -4.5rem;
}

#skills #info p{
    margin-bottom: 3em;
}

#skills #sectionImg::before {
    content: '<section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -0.5rem;
    margin-left: -1rem;
}

#skills #sectionImg::after {
    content: '</section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: 0.5rem;
}

.tarjet {
    padding: 1em 1em 1em 1em;
    background-color: #1b1d1d;
    /*background-color: #121212;*/
    border-radius: 1em;
    height: 100%;
}

.skillsDiv {
    padding: 0 0 1em 1em;
}

.skills_tech {
    margin: 0 0 0 0;
}

.skills_bar, .skills_bar::after {
    position: relative;
    width: 90%;
    height: 0.2em;
    background-color: #323535;
    overflow: hidden;
}

.skills_bar::after {
    content: "";
    left: -90%;
    position: absolute;
    background-color: #e27689;
    animation: skill-bar-fill 2s ease-in-out forwards;
}

.red::after {
    content: "";
    left: -100%;
    position: absolute;
    background-color: #ff607d;
    animation: skill-bar-fill 2s ease-in-out forwards;
}

.darkRed::after {
    content: "";
    left: -100%;
    position: absolute;
    background-color: #ff3459;
    animation: skill-bar-fill 2s ease-in-out forwards;
}

:root {
    --skill-bar-lenght: 0%;
}

.skills_bar--10::after {
    --skill-bar-lenght: 10%;
}

.skills_bar--20::after {
    --skill-bar-lenght: 20%;
}

.skills_bar--30::after {
    --skill-bar-lenght: 30%;
}

.skills_bar--40::after {
    --skill-bar-lenght: 40%;
}

.skills_bar--50::after {
    --skill-bar-lenght: 50%;
}

.skills_bar--60::after {
    --skill-bar-lenght: 60%;
}

.skills_bar--70::after {
    --skill-bar-lenght: 70%;
}

.skills_bar--80::after {
    --skill-bar-lenght: 80%;
}

.skills_bar--90::after {
    --skill-bar-lenght: 90%;
}

.skills_bar--100::after {
    --skill-bar-lenght: 100%;
}

@keyframes skill-bar-fill {
    to {
        transform: translateX(var(--skill-bar-lenght));
    }    
}

#about header div::after {
    content: '</h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -0.5rem;
}

#about header div::before {
    content: '<h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -1rem;
    margin-left: -1rem;
}

#about #info::before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -1.5rem;
    margin-left: -1rem;
}

#about #info::after {
    content: '</p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -4.5rem;
}

#about #info p{
    margin-bottom: 3em;
}

#about #sectionImg::before {
    content: '<section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -0.5rem;
    margin-left: -1rem;
}

#about #sectionImg::after {
    content: '</section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: 0.5rem;
}

#portfolio header div::after {
    content: '</h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -0.5rem;
}

#portfolio header div::before {
    content: '<h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -1rem;
    margin-left: -1rem;
}

#portfolio #info::before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -1.5rem;
    margin-left: -1rem;
}

#portfolio #info::after {
    content: '</p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -4.5rem;
}

#portfolio #info p{
    margin-bottom: 3em;
}

#portfolio #sectionImg::before {
    content: '<section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -0.5rem;
    margin-left: -1rem;
}

#portfolio #sectionImg::after {
    content: '</section>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: 0.5rem;
}

#contact header div::before {
    content: '<h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -1rem;
    margin-left: -1rem;
}

#contact header div::after {
    content: '</h2>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -0.5rem;
}

#contact #info::before {
    content: '<p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -1.5rem;
    margin-left: -1rem;
}

#contact #info::after {
    content: '</p>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-left: -1rem;
    margin-top: -4.5rem;
}

#contact #info p{
    margin-bottom: 3em;
}

#contact #form::before {
    content: '<form>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: -0.5rem;
    margin-left: -1rem;
}

#contact #form::after {
    content: '</form>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 18px;
    position: absolute;
    margin-top: 0.5rem;
    margin-left: -1rem;
}

.img-hover-zoom {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
  
.img-hover-zoom img {
    transition: transform .5s, filter 1.5s ease;
    /*filter: brightness(75%);*/
    filter: grayscale(50%);
}
  
.img-hover-zoom:hover img {
    transform: scale(1.1);
    /*filter: brightness(100%);*/
    filter: grayscale(0);
}

.chart {
    margin-bottom: 2rem;
}

.chart footer div {
    width: 0;
    height: 100%;
    background-color: #08fdd8;
    -webkit-transition: width 1.3s ease-out;
    -o-transition: width 1.3s ease-out;
    transition: width 1.3s ease-out;
}